body {
    
    width: 1024px;
    background-color: #566D7E;
    margin: 0px auto;
    
}
option{
    border: 4px solid;
    color: white;
    background-color: #4E387E;
}

header {
   margin: 0px auto; 
   background-color: #34282C;
   width: 100%;
   height: 100%;
}
iframe{
    width: 100%;
    height: 315px;
    border-style: none;
}

div{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.Foto{
    width: 170px;
    border: 10px solid #437C17;
    box-shadow: 0px 0px 20px blue ;

}
.nombre{
    color: #F3E5AB;
    display: flex;
    flex-direction: column;
    text-align: center;
}
hr{
    border-width: 4px;
    border-style: dotted;
    border-color: antiquewhite;
    width: 90%;
}

.separacion{
    border-width: 4px;
    border-style: dotted;
    border-color: blue;
    width: 90%;
}


nav{
    margin: 0px auto;
}

.selector{
    margin: 0% auto; 
    width: 6%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    
}
.selector img{
    width: 40px;
    height: 40px;
}
label img{
    width: 40px;
    height: 40px;
    background-color: #EE9A4D;
}
.fondo{
    margin: 0% auto;
    width: 10%;
    padding-bottom: 15px;
    padding-top: 26px;
    background-color: #EE9A4D;
    border: 1px solid black;

}

.menu{
    height: 40px;
    width: 60px;
}

button{
    text-align: center;
    margin-right: -5px;
    width: 15%;
    border: 4px solid black;
    cursor: pointer;
    font-size: 0.75em;
}
p{
    margin: 0px;
     
}
a .info{
    color: #F3E5AB;
    background-image: linear-gradient(to right, #728FCE 50%, #CFECEC 50%); 
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .3s ease;
}
a .experiencia{
    color: #F3E5AB;
    background-image: linear-gradient(to right, #AF7817 50%, #CFECEC 50%); 
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .3s ease;
}

a .refPersonales{
    color: #F3E5AB;
    background-image: linear-gradient(to right, #C11B17 50%, #CFECEC 50%); 
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .3s ease;
}
a .refFamiliares{
    color: #F3E5AB;
    background-image: linear-gradient(to right, #7E354D 50%, #CFECEC 50%); 
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .3s ease;
}
a .estudios{
    color: #F3E5AB;
    background-image: linear-gradient(to right, #4E387E 50%, #CFECEC 50%); 
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .3s ease;
}
a .descarga{
    color: #F3E5AB;
    background-image: linear-gradient(to right, #6AA121 50%, #CFECEC 50%); 
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .3s ease;
}

a .info:hover, .experiencia:hover, .refPersonales:hover, .refFamiliares:hover, .estudios:hover, .descarga:hover{
    background-position: right;
    color: black;
}
main{
    margin: 0px auto;
    text-align: center;
    background-color: #EDE275;
    display: flex;
    flex-direction: column;
}
.informacion{
    margin: 0px auto;
    display: flex;
    color: black;
    flex-direction: row;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.columna{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 2px dotted #493D26;
}
ul{
    margin: 0px auto;
}
table{
    margin-left: 15px;
}
.datos {
    height: 30px;
    width: 30px;
}
.contactos{
    margin: 0% auto;
    text-align: center;

}
.item{
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    padding-left: 5%;
    border-right: 2px dotted #493D26 ;
}
